
:root.theme-light {
  --accent-color: #FF8DCB;
  --main-title-color: #353430;
  --decorated-zone-color: #353430;
  --button-color: #353430;
  --button-color-transparent: rgba(53, 52, 48, 0.4);
  --accent-text-color: #353430;
  --focus-color: #FFC2E6;
  --text-color: #353430;
  --bg-color: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --accent-color: #FF8DCB;
    --main-title-color: #353430;
    --decorated-zone-color: #353430;
    --button-color: #353430;
    --button-color-transparent: rgba(53, 52, 48, 0.4);
    --accent-text-color: #353430;
    --focus-color: #FFC2E6;
    --text-color: #353430;
    --bg-color: #FFF1F7;
    --bg-image: url(../images/cover-image-light.png);
  }
  
  .theme-auto .rec {
    display: none;
  }
}
